#Database
DATABASE_USERNAME = admin
DATABASE_PASSWORD = password
DATABASE_NAME = ceidb
DATABASE_HOST = localhost 
SERVER_PORT = 5001
FRONTEND_PORT = 5173

#Authentication
RECAPTCHA_SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#LLM
LLM_PROVIDER= #OPENAI, ORACLE, OLLAMA
ORACLE_URL=
ORACLE_MODEL=
ORACLE_USER=
ORACLE_PASS=
OLLAMA_MODEL=llama3.2
OLLAMA_URL=http://localhost:11434/api/chat
OPENAI_API_KEY=
SAFTY_FALLBACK_EMAIL=admin@example.com

#Email Notification
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_PASS=
LLM_PROVIDER= #OPENAI, ORACLE, OLLAMA
ORACLE_URL=
ORACLE_MODEL=qwen2.5:0.5b
ORACLE_USER=
ORACLE_PASS=